* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 5px 10%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.container .content-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fffefe;
    padding: 0 50px;
    width: 100%;
    overflow: hidden;
}

.container .content-between h2 {
    color: black;
    cursor: pointer;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nav-links {
    display: none;
    list-style: none;
    padding: 15px 30%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}


.nav-links li {
    margin: 0 12px;
}

.nav-links li a {
    color: rgb(88, 86, 86);
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-links li a:hover {
    font-weight: 500;
    color: #377ffb;
}

.social-icons {
    padding: 15px 0;
    display: flex;
    font-size: 24px;
    /* overflow: hidden; */
}

.social-icons i {
    cursor: pointer;
    margin-right: 20px;
}

.social-icons i:hover {
    color: black;
}


/* .main-theme{
    height: 60vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10%;
    background-color: #377ffb;
}


.main-theme h2{
    color: #fff;
} */
.main-theme{
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
}
.sub-div {
    height: 60px;
    width: 50px;
  }
  
.div-left-column {
    padding: 8% 13%;
    height: 60vh;
    width: 50%;
    background-color: #f4f4f4;
}

.div-left-column h1 {
    white-space: nowrap;
    color: #262626;
    text-overflow: ellipsis;
}

.div-left-column h3{
    white-space: nowrap;
    color: #377ffb;
    text-overflow: ellipsis;
    font-size: 1.8rem;
}

.div-left-column p{
    margin-top: 10px;
    white-space: nowrap;
    color: #262626;
    /* text-overflow: ellipsis; */
    /* font-size: 1.8rem; */
}

.div-left-column a {
    text-decoration: none;
    color: #1266f1;
    cursor: pointer;
    border-left: 6px solid red;
    padding-left: 10px;
  /* background-color: lightgrey; */
    
}

.div-left-column a:hover {
    text-decoration: none;
    color: red;
    border-left: 6px solid #1266f1;
}

.div-right-column {
    width: 50%;
    height: 60vh;
    background-color: #f4f4f4;
}

/* Media Query for Mobile Devices */
@media (max-width: 767px) {
    .nav-links {
        display: none;
    }

    .container .content-between {
        font-weight: 1000;
        padding: 0;
        overflow: hidden;
    }

    .social-icons {
        font-size: 18px;
    }

    .social-icons i {
        margin-right: 20px;
        
    }
    .main-theme {
        margin: 0px;
        flex-direction: column;
      }

    .div-left-column, .div-right-column {
        flex-basis: auto;
        width: 100%;
        padding: 8% 10%;
      }

      .div-left-column h1 {
        margin: 0 0px;
        font-size: 22px;
    }
    
    .div-left-column h3{
        margin-top: 16px;
        font-size: 22px;
    }
    
    @media (max-width: 767px) {
        .div-left-column p {
        /* inline-size: min-content; */
          padding: 10px 0;
          display: block;
          flex-direction: column-reverse;
          font-size: smaller;
          /* font-size: 22px; */
          overflow: hidden;
          word-wrap: normal;
        }
      }
      
      
    /* .div-left-column, .div-right-column{
        display: flex;
        flex-direction: column;
    } */
}

